In [1]:
#importando bibliotecas
import pandas as pd

In [2]:
arq1 = pd.read_csv('tv_shows.csv') # Lendo o arquivo

In [5]:
# Selecionando as partes úteis do arquivo

arq2 = arq1.loc[:, ['Age', 'IMDb', 'Rotten Tomatoes', 'Netflix']]

arq2 = arq2.dropna().reset_index()

arq3 = arq2.loc[:, ['Age', 'IMDb', 'Rotten Tomatoes', 'Netflix']]

In [6]:
# Tirando sinais de "porcento" e "mais" das colunas Rotten Tomatoes e Age
for i in range(0, len(arq3)):
    if arq3['Age'][i] == 'all':
        arq3['Age'][i] = 0
    arq3['Age'][i] = float(str(arq3['Age'][i]).replace('+', ''))
    arq3['Rotten Tomatoes'][i] = float(str(arq3['Rotten Tomatoes'][i]).replace('%', ''))

C:\Users\augus\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\augus\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\augus\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
arq3

    Age  IMDb Rotten Tomatoes  Netflix
0    18   9.5              96        1
1    16   8.8              93        1
2    18   8.4              91        1
3    16   9.1              78        1
4    18   8.7              97        1
..   ..   ...             ...      ...
926   7   5.5             100        0
927   7   7.4              68        0
928   7   6.5              50        0
929   7   6.1              50        0
930   7   6.1              92        0

[931 rows x 4 columns]